[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "aspline"]
	path = aspline
	url = https://github.com/goepp/aspline
[submodule "graphseg"]
	path = graphseg
	url = https://github.com/goepp/graphseg
